@import "tailwindcss";

@theme {
  /* Mapping Colors */
  --color-main: var(--bg-main);
  --color-panel: var(--bg-panel);
  --color-gold: var(--accent-gold);
  --color-muted: var(--text-muted);
  /* Effects */
  --shadow-panel: var(--shadow-panel);
  --border-panel: var(--border-panel);
}

@layer base {
  :root {
    --bg-main: #e2e2e2;
    --bg-panel: #ffffff; 
    --border-ui: #a0a0a0;
    --shadow-panel: 0 4px 12px rgba(0, 0, 0, 0.3);
    --border-panel: #c9c8c8;
    --accent-gold: #c2864a;
    --text-muted: #888888;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body {
   @apply transition-all duration-500 ease-in-out;
}